<%= render 'partials/navbar' %>

<section class="project-banner aqua">
	<h1 class="text-center banner-text">Aqua</h1>
</section>

<div class="container vuepeer-summary">

	<div class="row vuepeer-description">
		<div class="col-md-offset-2 col-md-8">
			<img class="img-responsive center-block vuepeer-index" src="/assets/aqua-main.png" height="360" />

			<p class="vuepeer-desc">
				Over winter break, I worked on a team of six engineers to build out a hotel management web application for Aqua. The software needed to be able to manage guests, track inventory, coordinate employee schedules, among several other features. I set the foundation for the rails application, and laid out the entire database design for the other developers to use as a spring board. 
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/aqua-mail.png" height="360" />

			<p class="vuepeer-desc" style="margin-bottom: 6%;">
				One feature I built was the in app messaging service. This functioned exactly like a gmail inbox would, except that it would be used internally by the hotel's employees. The messaging service consisted of a slick inbox, the ability to send attachments with each message, and message threads. Another feature I worked on was room search. Basically being able to search rooms based on certain criteria such as floor number, availability, etc. 
			</p>

			<p class="vuepeer-desc" style="margin-bottom: 6%;">
				The source code and live version of the website are currently unavailable due to privacy reasons. Please contact me to see a demo. 
			</p>
	

			<!--<a class="project-btn btn-lg github" href="#"><i class="fa fa-github"></i> View source</a>-->
		</div>
	</div>

	<div class="row tags-row">
	 <div class="col-md-offset-2 col-md-8">
		<div class="item-content-block tags center-block">
	    	<a href="#">Development</a> <a href="#" class="tag2">Design</a>
	    	<a href="#" class="tag3">Consulting</a>
	    </div>
	 </div>
	</div>
</div>

<%= render 'partials/footer' %>