<%= render 'partials/navbar' %>

<section class="project-banner datascience">
	<h1 class="text-center banner-text">IMDB Movie Dataset Analysis</h1>
</section>

<div class="container vuepeer-summary">

	<div class="row vuepeer-description">
		<div class="col-md-offset-2 col-md-8">
			<img class="img-responsive center-block vuepeer-index" src="/assets/datascience-main.png" height="360" />

			<p class="vuepeer-desc">
				For my data science course's final project I teamed up with two other colleagues, and together we decided to analyze a <a href="https://www.kaggle.com/deepmatrix/imdb-5000-movie-dataset" class="peds-link">dataset</a> consisting of 5,000 movies and 28 attributes. We used Python 3, and an array of data science tools and libraries. We knitted together the final report and results in an iPython (Jupyter) notebook.  
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/film-profits.png" height="360" />

			<p class="vuepeer-desc" style="margin-bottom: 6%;">
				I parsed the csv file containing the data and trimmed unecessary fields. I then proceeded to scrape CPI values for every year from 1913-2017, and adjust all the dollar amounts for each movie into real dollar terms with 2017 purchasing power. The python library <i>Beautiful Soup</i> was utilized for web scraping purposes.
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/seaborn-plots.png" height="360" />
			<p class="vuepeer-desc" style="margin-top: 5%;">
				Plotting libraries such as <i>Matplotlib</i> and <i>Seaborn</i> were used in our exploratory analysis. For instance, the graphs above show a break down of movie genre and the average domestic gross in USD that the genre earns. 
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/linear-regression.png" height="360" style="margin-bottom: 5%;" />

			<p class="vuepeer-desc" style="margin-bottom: 6%;">
				Linear regression using the Ordinary Least Squares method was performed on the dataset to see if there was a relationship between a film's domestic gross and its attributes. By looking at the p-values in our result and using a significance level of 5%, we saw that a film's imdb score, budget, and cast facebook likes were significant variables in the outcome of a film's gross earnings.
			</p>

			<a class="project-btn btn-lg datascience" href="https://aarya1995.github.io/" target="_blank"><i class="fa fa-link"></i> View project</a>
			<br />
			<br />
			<br />
			<br />
			<a class="project-btn btn-lg github" href="https://github.com/aarya1995/aarya1995.github.io" target="_blank"><i class="fa fa-github"></i> View source</a>

		</div>
	</div>

	<div class="row tags-row">
	 <div class="col-md-offset-2 col-md-8">
		<div class="item-content-block tags center-block">
	    	<a href="#">Data Science</a> <a href="#" class="tag2">Coursework</a>
	    </div>
	 </div>
	</div>
</div>

<%= render 'partials/footer' %>