<%= render 'partials/navbar' %>

<section class="project-banner flutter">
	<h1 class="text-center banner-text">Flutter Merchant Dashboard</h1>
</section>

<div class="container vuepeer-summary">
	<div class="row vuepeer-images">
		<!-- <img class="center-block img-responsive vuepeer-index" src="/assets/flutter-landing.png" /> -->
		<div class="col-md-offset-2 col-md-8">
			<div class="fotorama center-block vuepeer-index" data-nav="thumbs">
			  <img src="/assets/flutter-landing.png">
			  <img src="/assets/flutter2.png">
			  <img src="/assets/flutter3.png">
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row vuepeer-description">
		<div class="col-md-offset-2 col-md-8">
			<p class="vuepeer-desc">
				Flutter is a mobile booking app that allows users to plan interesting outings based on a recommendation-driven algoirthm. I built the Flutter Merchant Dashboard, which allows business owners partnered with Flutter to upload their various offerings, track inventory, manage deals and discounts, and get useful analytics through an intuitive dashboard interface. 
			</p>

			<p class="vuepeer-desc">
				Created a rich multi-step form wizard for uploading offerings, which allows merchants to tag their activities, assign them unique time slots, and generate multiple vouchers for the activity. 
			</p>

			<p class="vuepeer-desc">
				Built a REST API to allow the inventory to be pipelined into the mobile app. Also wrote a cron job to scrape Eventbrite data from a merchant and port it right into the database. Built various administrative tooling features to allow admins to accept merchant applications, and edit merchant-uploaded data for quality-assurance purposes. 
			</p>
		</div>
	</div>
</div>

<%= render 'partials/footer' %>