<%= render 'partials/navbar' %>

<section class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-md-offset-4">
				<img class="img-responsive center-block img-thumbnail img-circle abhas-img" src="/assets/abhas.jpg" />
				<p class="text-center abhas-text">Developer / Entrepreneur / Student</p>
			</div>
		</div>
	</div>
</section>

<section class="projects">
	<div class="container showcase">
		<div class="row">
			<a href="/static_pages/vuepeer" class="showcase-link">
			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project vuepeer">
				<div class="project-info">
					<p class="text-center year">2016</p>
					<h1 class="text-center vuepeer-text">VuePeer</h1>
					<h4 class="text-center">search engine for finding peer-to-peer rentals</h4>
				</div>
			</div>
			</a>
			
			<a href="/static_pages/flutter" class="showcase-link">
			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project flutter">
				<div class="project-info">
					<p class="text-center year">2015-Present</p>
					<h1 class="text-center vuepeer-text">Flutter Merchant Dashboard</h1>
					<h4 class="text-center">inventory management system</h4>
				</div>
			</div>
			</a>
			
			<a href="/static_pages/wecook" class="showcase-link">
			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project wecook">
				<div class="project-info">
					<p class="text-center year">2014-2015</p>
					<h1 class="text-center vuepeer-text">WeCook</h1>
					<h4 class="text-center">custom meal plans for college students</h4>
				</div>
			</div>
			</a>
			
			<a href="/static_pages/telenix" class="showcase-link">
			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project telenix">
				<div class="project-info">
					<p class="text-center year">2015</p>
					<h1 class="text-center vuepeer-text">Telenix</h1>
					<h4 class="text-center">integrated job application and monitoring tools</h4>
				</div>
			</div>
			</a>

			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project kwiknews">
				<div class="project-info">
					<p class="text-center year">2015</p>
					<h1 class="text-center vuepeer-text">KwikNews</h1>
					<h4 class="text-center">RSS reader/aggregator to discover interesting news</h4>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project hirekeep">
				<div class="project-info">
					<p class="text-center year">2015</p>
					<h1 class="text-center vuepeer-text">HireKeep</h1>
					<h4 class="text-center">matching sales candidates with companies</h4>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-8 col-md-offset-2 project fitness44">
				<div class="project-info">
					<p class="text-center year">2015</p>
					<h1 class="text-center vuepeer-text">Fitness44</h1>
					<h4 class="text-center">fitness consulting services</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</section>


<%= render 'partials/footer' %>