<%= render 'partials/navbar' %>

<section class="project-banner telenix">
	<h1 class="text-center banner-text">Telenix</h1>
</section>

<div class="container vuepeer-summary">
	<div class="row vuepeer-description">
		<div class="col-md-offset-2 col-md-8">
			<img class="img-responsive center-block vuepeer-index" src="/assets/telenix-landing.png" height="360" />

			<p class="vuepeer-desc">
				Integrated careers functionality with Telenix' static website, and built an admin dashboard to monitor incoming job applications and view résumés.
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/telenix-apply.png" height="360" />

			<p class="vuepeer-desc">
				Developed a clean dashboard interface to view incoming job applications. Stored résumés on an Amazon S3 instance for convenient retrieval.
			</p>
			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/telenix-dashboard.png" height="360" />

			<p class="vuepeer-desc">
				Created form for dynamically adding job listings, along with attributes such as security clearance, and must-have-skills. 
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/telenix-add-job.png" height="360" />

			<img class="img-responsive center-block vuepeer-index vuepeer-img last" src="/assets/telenix-careers.png" height="360" />

		

			<a class="project-btn btn-lg telenix" href="#"><i class="fa fa-link"></i> View project</a>
			<br />
			<br />
			<br />
			<br />
			<a class="project-btn btn-lg github" href="#"><i class="fa fa-github"></i> View source</a>
		</div>
	</div>
	<div class="row tags-row">
	 <div class="col-md-offset-2 col-md-8">
		<div class="item-content-block tags center-block">
	    	<a href="#">Development</a> <a href="#" class="tag2">Design</a> 
	    </div>
	 </div>
	</div>
</div>

<%= render 'partials/footer' %>