<%= render 'partials/navbar' %>

<section class="project-banner wecook">
	<h1 class="text-center banner-text">WeCook</h1>
</section>

<div class="container vuepeer-summary">
	<div class="row vuepeer-description">
		<div class="col-md-offset-2 col-md-8">
			<img class="img-responsive center-block vuepeer-index" src="/assets/wecook-landing.png" height="360" />

			<p class="vuepeer-desc">
				Connected students with crowd-sourced chefs to provide better access to nutritious and gourmet meals, at a lower cost than the University dining plan.
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/wecook-order.png" height="360" />

			<p class="vuepeer-desc">
				Developed a web app to showcase weekly menus and allowed users to create accounts, book appointments with a chef, and pay for their orders.
			</p>
			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/wecook-invoice.png" height="360" />

			<p class="vuepeer-desc">
				Created a simple dashboard to allow users to track order history and designed order invoices; integrated with Stripe API to design a custom and user-friendly checkout process.
			</p>

			<img class="img-responsive center-block vuepeer-index vuepeer-img" src="/assets/wecook-payment.png" height="360" />

			<p class="vuepeer-desc last">
				Led a Team of Interns to implement iterations to the above features. Promoted business to gain 50,000 unique views to site and gained acceptance into University of Maryland's competitive incubator program, StartupShell.
			</p>

			<a class="project-btn btn-lg wecook" href="https://frozen-ridge-7087.herokuapp.com/" target="_blank"><i class="fa fa-link"></i> View project</a>
			<br />
			<br />
			<br />
			<br />
			<a class="project-btn btn-lg github" href="https://github.com/aarya1995/WeCook" target="_blank"><i class="fa fa-github"></i> View source</a>
		</div>
	</div>
	<div class="row tags-row">
	 <div class="col-md-offset-2 col-md-8">
		<div class="item-content-block tags center-block">
	    	<a href="#">Development</a> <a href="#" class="tag2">Design</a> 
	    </div>
	 </div>
	</div>
</div>

<%= render 'partials/footer' %>