<footer class="website-footer">
	<div class="container footer-text">
		<div class="row">
			<div class="col-md-4">
				<p class="">Made with <i class="fa fa-heart"></i> by Abhas</p>
			</div>

			<div class="col-md-offset-4 col-md-4 social-links">
				<a class="footer-link" href="https://github.com/aarya1995" style="padding-right: 17px; float: right;"><i class="fa fa-github"></i></a>
				<a class="footer-link" href="http://stackoverflow.com/users/3919906/abhas-arya"><i class="fa fa-stack-overflow" style="padding-right: 17px; float: right;"></i></a>
				<a href="mailto:abhas.aryaa@gmail.com" class="footer-link" style="padding-right: 17px; float: right;"><i class="fa fa-envelope" data-toggle="tooltip2" data-placement="top" title="abhas.aryaa@gmail.com"></i></a>
			</div>
		</div>
	</div>
</footer>

<!-- for mobile version -->
<footer class="mobile-footer">
	<div class="container footer-text">
		<div class="row">
			<div class="col-md-4">
				<p class="text-center">Made with <i class="fa fa-heart"></i> by Abhas</p>
			</div>

			<div class="col-md-offset-4 col-md-4 social-links">
				<div class="center-block links-block">
				<a class="footer-link" href="https://github.com/aarya1995" style="padding-right: 17px;"><i class="fa fa-github"></i></a>
				<a class="footer-link" href="http://stackoverflow.com/users/3919906/abhas-arya"><i class="fa fa-stack-overflow" style="padding-right: 17px;"></i></a>
				<a href="mailto:abhas.aryaa@gmail.com" class="footer-link mail-icon" style="padding-right: 17px;"><i class="fa fa-envelope" data-toggle="tooltip2" data-placement="top" title="abhas.aryaa@gmail.com"></i></a>
				</div>
			</div>
		</div>

		<div class="row footer-email" style="margin-top: 4%;">
			<div class="col-md-offset-4 col-md-4">
				<a href="mailto:abhas.aryaa@gmail.com"><p class="text-center">abhas.aryaa@gmail.com</p></a>
			</div>
		</div>
	</div>
</footer>

<script>
$(function () {
  $('[data-toggle="tooltip2"]').tooltip()
})
</script>