// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { color: #221E1A; }

.header {
	height: 180px;
	width: 100%;
	background-color: #EEEEEE;
}

.abhas-navbar {
	min-height: 100px;
	width: 100%;
	background-color: #EEEEEE;
	margin-bottom: 0;
}

.menu-links {
	font-family: "Open-Sans", sans-serif;
	font-size: 1.2em;

	a { text-decoration: none; color: inherit; }
	a:hover { text-decoration: underline; }
	padding-top: 30px;
}

.project {
	height: 194px;
	margin-top: 3%;
}

.showcase {
	margin-top: 2%;
	margin-bottom: 4%;
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}

.vuepeer {
	background-color: #0DCCCB;
}

.flutter {
	background-color: #EF5350;
}

.wecook {
	background-color: #FF7800;
}

.telenix {
	background-color: #A01B6D;
}

.kwiknews {
	background-color: #24a8ac;
}

.hirekeep {
	background-color: #F7931E;
}

.fitness44 {
	background-color: #4CAF50;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 2.8em;
	margin-bottom: 3%;
	margin-top: -1px;
}

h2 {
	font-family: 'Open-Sans', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	color: #221e1f;
}

h4 {
	font-family: 'Lato', sans-serif;
	color: white;
}

.project-info {
	margin-top: 4%;
}

.fa {
	font-size: 22px !important;
}

footer {
    background: #221E1F;
    color: white;
    font-size: 12px;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none !important;
}

footer a:hover {
	text-decoration: underline !important;
}

footer p {
	font-family: 'Open-Sans', sans-serif;
	font-size: 1.5em;
	color: white;
	padding: 5px;
}


ul.unstyled {
    list-style:none;
    padding: 0;
}

.footer-text {
	margin-top: 2%;
	margin-bottom: 2%;
}

.fa-heart {
	color: #E74C3C !important;
}

.abhas-img {
	height: 110px;
	width: 110px;
}

.abhas-text {
	margin-top: 3%;
	font-size: 1.1em;
}
.navbar-toggle {
	background-color: #181616 !important;
	border-radius: 0px;
}
.icon-bar {
	background-color: white !important;
}

/* website width version */
@media(min-width: 746px) {
	.mobile-footer {
		display:none;
	}
	.website-footer {
		display:block;
	}
	.mail-icon {
		display: block;
	}
	.mobile-email {
		display: none !important;
	}

	.footer-email {
		display: none;
	}

	.banner-text {
		padding-top: 2.5%;
		font-size: 3em !important;
	}

	.banner-text2 {
		padding-top: 2.5%;
		font-size: 3em !important;
	}


	.last {
		margin-bottom: 6% !important;
	}

	.vuepeer-summary {
		margin-bottom: 5%;
	}

	.tags-row {
		margin-top: 4%;
	}
}
/* mobile responsive CSS */
@media(max-width: 746px){

	.mail-icon {
		display: none !important;
	}
	.mobile-email {
		display: block;
		color: white;
	}

  .website-footer {
  	display: none;
  }
  .mobile-footer {
  	display: block;
  }
  .navbar-collapse {
	background-color: rgba(24, 22, 22, 0.9);
	color: white;
	margin-bottom: 5%;
	padding-top: 8px;
  }

  .abhas-navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	    color: #181616;
   }

   .project-info {
   	padding-top: 30px;
   }

   .project {
   	 margin-top: -15px !important;
   }

   .showcase {
		margin-top: 0%;
		margin-bottom: 0%;
	}

	.links-block {
		width: 80px;
	}

	.footer-email {
		display: block;
	}

	.banner-text {
		padding-top: 30px;
		font-size: 3em !important;
	}

	.banner-text2 {
		padding-top: 15px;
		font-size: 3em !important;
	}

	.last {
		margin-bottom: 10% !important;
	}

	.vuepeer-summary {
		margin-bottom: 15%;
	}
	
	.tags-row {
		margin-top: 7%;
	}
}

.project-banner {
	width: 100%;
	height: 120px;
}

.vuepeer-index {
	margin-bottom: 4%;
	width: 100%;
}

.vuepeer-summary {
	margin-top: 4%;

	a:hover {
		color: white;
	}
}

.vuepeer-description {
}

.vuepeer-desc {
	font-size: 1.4em;
	line-height: 1.7em;
	color: #4b4244;
}

.vuepeer-img {
	margin-top: 5%;
}

.project-btn {
	color: white;
	text-decoration: none;
	padding: 0.85em 2em 0.75em 2em;
	border-radius: 5px;
	font-weight: bold;
}

.github {
	background-color: #4CAF50;
}

.item{color:#48453d; margin-top:30px; overflow:hidden;}
.block-title{color: #48453d; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:uppercase;}
.item-content-block{font-family: 'Open-Sans', sans-serif; padding:20px; border-top:2px solid #f6f6f2; background-color:#FFF; display:block; width: 350px;}
.tags a{font-weight: strong; background-color:#eee; padding:20px; color:#4b4244; display:inline-block; font-size:1.5em; font-weight: strong; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags a:hover{background-color:#E74C41;}

.tag2 {
	margin-left: 8px;
}



.peds {
	background-color: #242636;
}

.peds-year {
	color: #FFFFFF;
}

.peds-link:hover {
	color: blue !important;
}

.meeshquest {
	background-color: #8cc63f;
}

.datascience {
	background-color: #20bbeb;
}
